{%- for iface in interfaces %}
interface {{ iface.interface }}
{%- if iface.ip_address is defined and iface.ip_address %}
    ip address {{iface.ip_address}}
{%- endif %}
{%- if iface.vrf is defined and iface.vrf %}
    vrf {{iface.vrf}}
{%- endif %}
{%- if iface.enabled is defined and not iface.enabled %}
    shutdown
{%- else %}
    no shutdown
{%- endif %}
!
{%- if iface.ip_gateway is defined and iface.ip_gateway %}
ip route 0.0.0.0/0 {{iface.ip_gateway}}{% if iface.vrf is defined and iface.vrf %} vrf {{ iface.vrf }}{% endif %}
!
{%- endif %}
{%- endfor %}


